---
import Html from "@layouts/Html.astro";
---

<Html>
    <h1>Online Tools for Farm Use</h1>
    <p>Small collections of calculations and other helpful information</p>
    <section>
        <h2>Feed Stuff</h2>

        <ul>
            <li>
                <a href="farm_tools/pearson_square">Pearson Square</a>
            </li>
        </ul>
    </section>
    <section>
        <h2>Livestock</h2>

        <ul>
            <li>
                <a href="farm_tools/sheep_gestation">Gestation Cycle Start</a>
            </li>
        </ul>
    </section>
</Html>

<style>
    section {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    }
</style>
