<footer class="footer">
    <nav>
        <a href="/tools">Tools</a>
    </nav>
    <div>
        <h4>Resources</h4>
    </div>
    <div class="">
        <a href="mailto:matthew@attheholt">matthew@attheholt</a>
    </div>
</footer>

<style>
    .footer {
        display: flex;
        outline: solid;
        height: 100%;
    }
</style>
