<footer class="footer">
    <div>
        <h4>Resources</h4>
        <nav>
            <a href="/tools">Online Tools</a>
        </nav>
    </div>

    <div class="">
        <h5>contacts</h5>
        <a href="mailto:matthew@attheholt">matthew@attheholt</a>
    </div>
</footer>

<style>
    .footer {
        outline: solid;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
</style>
