---

---

<header>
    <h1>At The Holt<br /> Farms</h1>
    <slot />
</header>
<style>
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: solid 2px var(--light_gray);
        width: 100%;
        border-radius: 15px;
        h1 {
            text-align: center;
        }
        .header_subtext {
            text-align: center;
        }
    }
</style>
