---
interface Props {
    currentPage: string;
}
import { internalLinks } from "src/routes";
import { List } from "@components/base";

const { currentPage } = Astro.props;
---

<nav class="internal_nav_links">
    <List
        currentPage={currentPage}
        linkType="simple"
        linkList={internalLinks}
    />
</nav>
<style>
    .internal_nav_links {
        min-width: var(--site_maxWidth);
        height: min-content;
    }
</style>
