---
import Layout from "@layouts/Layout.astro";
import Introduction from "@components/sections/animal_pages/Introduction.astro";

import { Box, Text, Link } from "@components/base";
---

<Layout currentPage="/animals">
    <main slot="main">
        <Introduction />
        <Box>
            <Text slot="heading" tag="h2">Ruminant : Katahdin </Text>
            <Text>
                These sheep are very hardy and resilient. They do well grazing
                on pasture, which can allows me practice pasture rotations. This
                practice keeps the sheep from grazing the grass down too much,
                which can hurt the growth of the grass.
            </Text>
            <Text>
                My sheep are mainly for meat,I have crossed them with Dorper.
                This sheep is a bigger build than the Katahdin, with all
                benefits of resiliency.
            </Text>
        </Box>
        <Text>
            Our Chickens are also able to spend most of their time outside,
            roaming freely and foraging for insects and seeds.
        </Text>
    </main>
</Layout>

<style></style>
