---
import { Image } from "astro:assets";

import { Box, Text, Link } from "../../base";

import pastureProtein from "./images/pastureProtein.png";
---

<section class="main_section_container introduction_section">
    <Text tag="h2">What is Raising Pastured Protein</Text>
    <Image
        src={pastureProtein}
        alt="Sheep grazing on pasture along with chickens"
        width={600}
        height={400}
    />
    <Text>
        We raise sheep and chickens on healthy pastures using regenerative
        practices that heal the land while producing exceptionally nutritious
        food.
    </Text>
</section>

<style>
    .introduction_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
</style>
