<div class="container container-layout">
    <slot />
</div>
<style>
    .container {
        border-radius: 10px;
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
        padding: 20px;
        max-width: 500px;
        width: 100%;
    }
</style>
