---

---

<div class="info-box">
    <slot />
</div>

<style>
    .info-box {
        background: #f0f4ff;
        border-left: 4px solid var(--primary-color);
        padding: 15px;
        border-radius: 8px;
        margin-top: 20px;
        font-size: 13px;
        color: #555;
        width: 80%;
    }
</style>
