---
import Container from "@components/general/Container.astro";
import IngredientContainer from "./components/IngredientContainer.astro";
import TotalRationSize from "./components/TotalRationSize.astro";
import CalculatedRation from "./components/CalculatedRation.astro";
---

<Container>
    <div class="ingredient_inputs">
        <IngredientContainer
            cardLabel="Ingredient A"
            deafaultItemValue="corn"
            defaultValue={{
                label: "Corn",
                inputValue: "8",
                inputValueId: "cpA",
            }}
            inputId="itemA"
        />
        <IngredientContainer
            cardLabel="Ingredient B"
            defaultValue={{
                label: "Soy bean",
                inputValue: "44",
                inputValueId: "cpB",
            }}
            inputId="itemB"
        />

        <IngredientContainer
            cardLabel="Target"
            defaultValue={{
                inputValue: "14",
                inputValueId: "cpTarget",
            }}
            inputId="target"
        />
    </div>
    <TotalRationSize />
</Container>
<div class="temp">
    <CalculatedRation />
    <script src="./scripts/calculateRations.js"></script>
</div>
<style>
    .ingredient_inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }
</style>
