---
import Layout from "@layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete evdserything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout currentPage="/projects">
    <main slot="main">
        <h1>Projects and things ware building on the farm</h1>
    </main>
</Layout>

<style></style>
