---
// content Box
---

<section>
    <slot />
</section>

<style>
    section {
        min-height: 550px;
        /* margin: 150px 0px; */
        /* display: flex; */
        display: grid;
        grid-template-rows: 75px 1fr;
        flex-direction: column;
    }
</style>
