---
// content Box
---

<section>
    <slot />
</section>

<style>
    section {
        min-height: 550px;
        /* margin: 150px 0px; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
</style>
