<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
        <meta name="generator" content={Astro.generator} />
        <title>At the Holt</title>
    </head>
    <body class="center_layout">
        <slot />
        <footer>
            <nav>
                <a href="tools">Tools</a>
            </nav>
        </footer>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: #2a7f62;
        color: #c0c0c0;
        /* color: #2b4570; */
        font-size: 30px;
    }
    .center_layout {
        display: grid;
        place-items: center;
    }
</style>
