---
interface Props {
    currentPage: string;
}
import Footer from "@components/sections/Footer.astro";
import NavigationMain from "@components/sections/NavigationMain.astro";

const { currentPage } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
        <meta name="generator" content={Astro.generator} />
        <title>At the Holt</title>

        <!-- Character encoding -->
        <meta charset="UTF-8" />

        <!-- Viewport for responsive design -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Description for search engines and previews -->
        <meta
            name="description"
            content="A brief description of your website"
        />

        <!-- Author information (optional) -->
        <meta name="author" content="Your Name" />

        <!-- Favicon -->
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />

        <!-- External CSS -->
        <!-- <link rel="stylesheet" href="/styles.css" /> -->

        <!-- Optional: External fonts -->
        <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" /> -->

        <!-- Optional: Social media preview (Open Graph, Twitter) -->
        <meta property="og:title" content="My Website" />
        <meta
            property="og:description"
            content="A brief description of your website"
        />
        <meta property="og:image" content="/preview.jpg" />
        <meta property="og:url" content="https://www.mywebsite.com" />
        <meta name="twitter:card" content="summary_large_image" />
    </head>

    <body class="center_layout">
        <NavigationMain currentPage={currentPage} />
        <slot name="header" />
        <slot name="main" />
        <Footer />
    </body>
</html>

<style is:global>
    html {
        --dark_green: #0f211a;
        --light_gray: #c9c9c9;

        --site_maxWidth: 1014px;
        --section_spacing: 20px;

        --main_backgroundColor: var(--light_gray);
        --main_foregroundColor: var(--dark_green);

        margin: 0;
        color: var(--main_foregroundColor);
        background-color: var(--main_backgroundColor);
        font-size: 22px;
        font-family: "Gill Sans", sans-serif;
    }

    .center_layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    main {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        gap: var(--section_spacing, 150px);
    }
    header,
    main,
    footer {
        max-width: var(--site_maxWidth);
    }
    .main_section_container {
        margin: 10px 5px;
        min-height: 550px;
    }
</style>
