---
import Footer from "../components/sections/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
        <meta name="generator" content={Astro.generator} />
        <title>At the Holt</title>
    </head>

    <body class="center_layout">
        <slot name="header" />
        <slot name="main" />
        <Footer />
    </body>
</html>

<style is:global>
    html {
        margin: 0;
        color: #c9c9c9;
        background-color: #0f211a;
        font-size: 22px;
        font-family: "Gill Sans", sans-serif;
    }

    .center_layout {
        display: grid;
        grid-template-rows: 60vh 1fr 50vh;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 25px;
    }
    header,
    main,
    footer {
        max-width: 1014px;
    }
</style>
