---

---

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sheep">About Sheep</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <style>
        nav {
            background-color: var(--main-black);
            color: var(--main-white);
            padding: 10px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-evenly;
        }
        nav li {
            display: inline-block;
            margin-right: 10px;
        }
        nav a {
            color: var(--main-white);
            text-decoration: none;
        }
    </style>
</nav>
